<footer class = "footer bg-dark py-3" style="position: fixed; bottom: 0; width: 100%;">
    <div class = 'container'>
        <span class = "text-muted">&copy; Yelp Camp 2022</span>
    </div>
</footer>