body{
    min-height: 100vh;
    background-color: #FFE5B4;
}
#main-container{
    display: flex;
    min-width: 300px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

#campground-description {
    border: 2px solid black;
    margin-top: 5px;
    width: 40%;
    background-color: #FFFFFF;
    height: 100%;
}

#campground-reviews {
    width: 40%;
    height: 100%;
}

@media (max-width: 850px) {
    #main-container {
        flex-direction: column;
    }
    #campground-description,
    #campground-reviews {
        width: 70%;
    }
}