<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Here are our available products!</h1>
    <ul>
        <% for(let product of products){ %>
            <li>
                <a href="/products/<%= product._id %> "><%= product.name %> </a>
                <hr>
            </li>
        <% } %>
    </ul>

    <a href="/products/new">Add a new product</a>
</body>
</html>