<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<body>
    <h1>Your Error Code is <%= statusCode %> </h1>
    <h2>Your Error message is <%= message %> </h2>
</body>
</html>